/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

html {
    font-size: 10px;
}

/* body {
    overflow: hidden;
} */

/* Iteration-1 - Mobile Version */
@media (max-width: 650px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 15vh;
        background-color: #540B51;
    }

    nav > div > img {
        width: 13rem;
        margin-left: 3rem;
        margin-right: 0;
    }
    
    #nav-links {
        display: none;
    }

    #hamburger-menu {
        display: block;
    }

    #nav-button {
       width: 25vw;
       display: flex;
       align-items: center;
       justify-content: flex-end;
       margin-right: 10vw;
    }

    #nav-button > button {
        background-color: #540B51;
        border: none;
        width: 5rem;
        margin-left: 1rem;
    }

    #nav-button img {
        width: 3.25rem;
        margin-right: 3rem;
        
    }

    header {
        background-color: #540B51;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    h1 {
        font-size: 10vw;
        text-align: center;
        margin: 2rem auto 4rem;
        color: #fff;
        font-weight: 500;
    }

    header p {
        font-size: 4.5vw;
        text-align: center;
        color: #fff;
        margin: auto auto 3.5rem;
    }

    #slack-is-free-text {
        color: #ECB12F;
    }

    header div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 85vh;
    }

    header > div:nth-child(2){
        width: 100vw;
        height: 108vh;
    }

    header > div > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 90vw;
        height: 12vh;
        font-size: 3.5vw;
        text-transform: uppercase;
        text-align: center;
        color: #540B51;
        font-weight: 500;
    }

    #gmail {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #4285F4;
        margin-top: 2rem;
    }

    #gmail img {
        width: 9.5vw;
        background-color: #fff;
    }

    #gmail span {
        color: #fff;
        margin-left: 15vw;
    }

    #slack-app-screenshot {
        width:164vw;
        margin-left: 43vw;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #trust {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 50vh;
        background-color: #F3EAE2;
        text-align: center;
        position: absolute;
        top:182vh;
        z-index: 1;
    }

    #trust > p {
        font-size: 3.5vw;
        font-weight: 600;
        text-transform: uppercase;
        margin: 8vh auto 6vh;
    }

    #trust > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    
    }

    #trust > div > img {
        margin: 1vh 1vw 1vh 3vw;
    }

    #airbnb {
        width: 26vw;
        height: 8vh;
    }

    #nasa {
        width: 16vw;
        height: 14vh;
    }

    #uber {
        width: 22vw;
        height: 7vh;
    }

    #target {
        width: 13vw;
        height: 13vh;
    }

    #nyt {
        width: 50vw;
        height: 9vh;
    }

    #spotify {
        width: 34vw;
        height: 9vh;
    }

    #team {
        position: absolute;
        top: 232vh;
        height: 170vh;
        display: flex;
        flex-direction: column;
        background-color: #F3EAE2;

    }

  

    #flexibility {
        position: absolute;
        top: 402vh;
        height: 153vh;
        display: flex;
        flex-direction: column-reverse;
        height: 164vh;
        background-color: #F3EAE2;
        padding-bottom: 15vh;
    }

    #flexibility img {
        margin-left: 5vw;
    }

    #speed {
        position: absolute;
        top: 581vh;
        background-color: #F3EAE2;
        height: 172vh;
    }

    #collaboration {
        position: absolute;
        top: 772vh;
        display: flex;
        flex-direction: column;
        align-items: center;  
    }

    h3 {
        font-size: 7vh;
        text-align: center;
        font-weight: 600;
    }

    #collaboration > p {
        text-align: center;
        font-size: 4.5vh;
    }

    #collaboration button {
        margin-left: 5vw;
        margin-bottom: 3vh;
        height: 15vh;
    }

    #slack-btn {
        background-color: #540B51;
        color: #fff;
        font-weight: 500;
    }

    #sales-btn {
        background-color: #fff;
        border: 1.75px solid #540B51;
        font-weight: 600;
    }

    #collaboration ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12vh;
    }

    #collaboration > ul > li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .percentage {
        color: #540B51;
        font-size: 12vh;
        font-weight: 600;
        margin-bottom: 6vh;
    }

    .conditions {
        font-size: 3rem;
        text-align: center;
        font-weight: 600;
        margin: 0 25vw 5vh;

    }

    #talk {
        position: absolute;
        top: 1000vh;
    }

    footer {
        position: absolute;
        top:1200vh;
    }

    h2 {
        font-size: 8vh;
        font-weight: 700;
        text-align: left;
        margin: 7vh 3vw 3vh;
    }

    p {
        font-size: 5vh;
        text-align: left;
        margin: 7vh 2.5vw;
        line-height: 5.5vh;
        word-spacing: 0.3vw;

    }

    .links {
        text-decoration: none;
        color:#2E71A6;
        font-size: 4vh;
        font-weight: 400;
        margin-left: 2.75vw;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .links::after {
        content: " →";
    }

    .connectedness {
        margin-top: 5vh;
        width: 95vw;
       
    }
}

/* Iteration-2 - Tablet Version */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Iteration-3 - Medium Screen Version */
@media (min-width: 1025px) and (max-width: 1440px) {
    #nav-links {
        display: block;
    }

    #hamburger-menu {
        display: none;
    }
}


/* Bonus: Iteration-4 - Large screen */

@media (min-width: 1441px) {
    
}

