/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

html {
    font-size: 10px;
}

body {
    overflow: hidden;
}

/* Iteration-1 - Mobile Version */
@media (max-width: 650px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 15vh;
        background-color: #540B51;
    }

    nav > div > img {
        width: 13rem;
        margin-left: 3rem;
        margin-right: 0;
    }
    
    #nav-links {
        display: none;
    }

    #hamburger-menu {
        display: block;
    }

    #nav-button {
       width: 25vw;
       display: flex;
       align-items: center;
       justify-content: flex-end;
       margin-right: 10vw;
    }

    #nav-button > button {
        background-color: #540B51;
        border: none;
        width: 5rem;
        margin-left: 1rem;
    }

    #nav-button img {
        width: 3.25rem;
        margin-right: 3rem;
        
    }

    header {
        background-color: #540B51;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    h1 {
        font-size: 10vw;
        text-align: center;
        margin: 2rem auto 4rem;
        color: #fff;
        font-weight: 500;
    }

    header p {
        font-size: 4.5vw;
        text-align: center;
        color: #fff;
        margin: auto auto 3.5rem;
    }

    #slack-is-free-text {
        color: #ECB12F;
    }

    header div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 75vh;
    }

    header > div > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 90vw;
        height: 12vh;
        font-size: 3.5vw;
        text-transform: uppercase;
        text-align: center;
        color: #540B51;
        font-weight: 500;
    }

    #gmail {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #4285F4;
        margin-top: 2rem;
    }

    #gmail img {
        width: 9.5vw;
        background-color: #fff;
    }

    #gmail span {
        color: #fff;
        margin-left: 15vw;
    }

    header > div > img {
        width: 160vw;
        margin-left: 40vh;
    }
}


/* Iteration-2 - Tablet Version */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Iteration-3 - Medium Screen Version */
@media (min-width: 1025px) and (max-width: 1440px) {
    #nav-links {
        display: block;
    }

    #hamburger-menu {
        display: none;
    }
}


/* Bonus: Iteration-4 - Large screen */

@media (min-width: 1441px) {
    
}

